<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="@ViewBag.Description" />
    <title>@ViewBag.Title</title>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>

    <!-- Add jQuery Style direct - used for jQGrid plugin -->
    <link href="@Url.Content("~/Theme/Layout2/Scripts/plugins/jquery-ui/jquery-ui.css")" rel="stylesheet" type="text/css" />

    <!-- Primary Inspinia style -->     
    <link href="~/Theme/Layout2/fonts/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Theme/Layout2/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Theme/Layout2/Content/animate.css" rel="stylesheet" />
    <link href="~/Theme/Layout2/Content/style.css" rel="stylesheet" />

    <link href="~/Content/Site.css" rel="stylesheet" />
    <script src="~/Scripts/appInsights.js"></script>

    <!-- Add local styles, mostly for plugins css file -->
    @if (IsSectionDefined("Styles"))
    {@RenderSection("Styles", required: false)}

    @if (Boolean.Parse(System.Configuration.ConfigurationManager.AppSettings["DoAnalytics"]))
    {
        @Html.Partial("analytics")
    }
</head>
<body class="top-navigation">
    <!-- Wrapper-->
    <!-- PageClass give you ability to specify custom style for specific view based on action -->
    <div id="wrapper" @*class="@Html.PageClass()"*@>

        <!-- Page wraper -->
        <div id="page-wrapper" class="gray-bg @ViewBag.SpecialClass">

            <!-- Top Navbar -->
            @Html.Partial("_TopNavbar2")

            <!-- Main view  -->
            @RenderBody()

            <!-- Footer -->
            @Html.Partial("_Footer")

        </div>
        <!-- End page wrapper-->

    </div>
    <!-- End wrapper-->

    <!-- Section for main scripts render -->
    <script src="~/Theme/Layout2/Scripts/jquery-2.1.1.min.js"></script>
    <script src="~/Theme/Layout2/Scripts/bootstrap.min.js"></script>
    <script src="~/Theme/Layout2/Scripts/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="~/Theme/Layout2/Scripts/plugins/metisMenu/metisMenu.min.js"></script>
    <script src="~/Theme/Layout2/Scripts/plugins/pace/pace.min.js"></script>
    <script src="~/Theme/Layout2/Scripts/app/inspinia.min.js"></script>
  

    <!-- Handler for local scripts -->
    @RenderSection("scripts", required: false)
</body>
</html>
