<div class="row border-bottom white-bg">
    <nav class="navbar navbar-static-top" role="navigation">
        <div class="navbar-header">
            <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
                <i class="fa fa-reorder"></i>
            </button>
            <a href="#" class="navbar-brand">
                <img style="height:20px;width:20px;" src="~/Content/Images/off_colors_transparent_logo.png" />
                
            </a>
        </div>
        <div class="navbar-collapse collapse" id="navbar">
            <ul class="nav navbar-nav">
                <li class="active">
                    <a aria-expanded="false" role="button" href="@Url.Action("Index", "Home")"><i class="fa fa-location-arrow"></i> Back to home page</a>
                </li>
                <li>
                    <a aria-expanded="false" role="button" href="@Url.Action("FAQ", "Home")"> FAQ</a>
                </li>
                <li>
                    <a aria-expanded="false" role="button" href="@Url.Action("Connectors", "Home")"> Connectors</a>
                </li>
                <li>
                    <a aria-expanded="false" role="button" href="@Url.Action("Features", "Home")"> Features</a>
                </li>
                <li>
                    <a aria-expanded="false" role="button" href="@Url.Action("Contact", "Home")"> Contact</a>
                </li>
                @*<li class="dropdown">
                    <a aria-expanded="false" role="button" href="#" class="dropdown-toggle" data-toggle="dropdown"> Menu item <span class="caret"></span></a>
                    <ul role="menu" class="dropdown-menu">
                        <li><a href="">Menu item</a></li>
                        <li><a href="">Menu item</a></li>
                        <li><a href="">Menu item</a></li>
                        <li><a href="">Menu item</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a aria-expanded="false" role="button" href="#" class="dropdown-toggle" data-toggle="dropdown"> Menu item <span class="caret"></span></a>
                    <ul role="menu" class="dropdown-menu">
                        <li><a href="">Menu item</a></li>
                        <li><a href="">Menu item</a></li>
                        <li><a href="">Menu item</a></li>
                        <li><a href="">Menu item</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a aria-expanded="false" role="button" href="#" class="dropdown-toggle" data-toggle="dropdown"> Menu item <span class="caret"></span></a>
                    <ul role="menu" class="dropdown-menu">
                        <li><a href="">Menu item</a></li>
                        <li><a href="">Menu item</a></li>
                        <li><a href="">Menu item</a></li>
                        <li><a href="">Menu item</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a aria-expanded="false" role="button" href="#" class="dropdown-toggle" data-toggle="dropdown"> Menu item <span class="caret"></span></a>
                    <ul role="menu" class="dropdown-menu">
                        <li><a href="">Menu item</a></li>
                        <li><a href="">Menu item</a></li>
                        <li><a href="">Menu item</a></li>
                        <li><a href="">Menu item</a></li>
                    </ul>
                </li>*@

            </ul>
            <ul class="nav navbar-top-links navbar-right">
                <li>
                    <a href="#">
                        <span class="brand-font">Slick</span>ETL
                        @*<img src="~/Content/Images/logo.png" style="height:20px;width:20px;" />*@
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</div>